# .dockerignore

__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
llama_env/
.git/
.gitignore
.dockerignore
Dockerfile
*.log
offload_cache/ # If this exists
*.pdf # Don't copy example pdfs if any
*.sock